Computer/bin/Debug/Computer.exe.config
Computer/bin/Debug/Computer.vshost.exe.config
Computer/bin/Debug/Computer.vshost.exe.manifest
Computer/obj/Debug/Computer.csproj.FileListAbsolute.txt
Computer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Computer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Computer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ComputerService/obj/Debug/ComputerService.csproj.FileListAbsolute.txt
ComputerService/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ComputerService/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ComputerService/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PriceGoods/bin/Debug/PriceGoods.exe.config
PriceGoods/bin/Debug/PriceGoods.vshost.exe.config
PriceGoods/bin/Debug/PriceGoods.vshost.exe.manifest
PriceGoods/obj/Debug/PriceGoods.csproj.FileListAbsolute.txt
PriceGoods/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PriceGoods/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PriceGoods/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Zarplata/bin/Debug/Zarplata.exe.config
Zarplata/bin/Debug/Zarplata.vshost.exe.config
Zarplata/bin/Debug/Zarplata.vshost.exe.manifest
Zarplata/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Zarplata/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Zarplata/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Zarplata/obj/Debug/Zarplata.csproj.FileListAbsolute.txt
